In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn import datasets
import pandas as pd
import numpy as np
from sklearn import cross_validation as cv
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

/home/venom/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [46]:
iris = datasets.load_iris()

In [47]:
type(iris.data)

numpy.ndarray

In [68]:
df = pd.DataFrame({"SL" : pd.cut(iris.data[:,0], 4, labels=[1, 2, 3, 4])})
df["PL"] = pd.cut(iris.data[:,1], 4, labels=[1, 2, 3, 4])
df["PW"] = pd.cut(iris.data[:,1], 4, labels=[1, 2, 3, 4])
df["SW"] = pd.cut(iris.data[:,1], 4, labels=[1, 2, 3, 4])

In [69]:
df

    SL PL PW SW
0    1  3  3  3
1    1  2  2  2
2    1  2  2  2
3    1  2  2  2
4    1  3  3  3
5    2  4  4  4
6    1  3  3  3
7    1  3  3  3
8    1  2  2  2
9    1  2  2  2
10   2  3  3  3
11   1  3  3  3
12   1  2  2  2
13   1  2  2  2
14   2  4  4  4
15   2  4  4  4
16   2  4  4  4
17   1  3  3  3
18   2  3  3  3
19   1  3  3  3
20   2  3  3  3
21   1  3  3  3
22   1  3  3  3
23   1  3  3  3
24   1  3  3  3
25   1  2  2  2
26   1  3  3  3
27   1  3  3  3
28   1  3  3  3
29   1  2  2  2
..  .. .. .. ..
120  3  2  2  2
121  2  2  2  2
122  4  2  2  2
123  3  2  2  2
124  3  3  3  3
125  4  2  2  2
126  3  2  2  2
127  2  2  2  2
128  3  2  2  2
129  4  2  2  2
130  4  2  2  2
131  4  3  3  3
132  3  2  2  2
133  3  2  2  2
134  2  1  1  1
135  4  2  2  2
136  3  3  3  3
137  3  2  2  2
138  2  2  2  2
139  3  2  2  2
140  3  2  2  2
141  3  2  2  2
142  2  2  2  2
143  3  2  2  2
144  3  3  3  3
145  3  2  2  2
146  3  1  1  1
147  3  2  2  2
148  3  3  3  3
149  2  2  2  2

[150 rows x 4 columns]

In [72]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
df.shape

(150, 4)

In [73]:
clf.fit(df, iris.target)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)