In [1]:
import pandas as pd

In [3]:
file = '/home/venom/Desktop/Untitled Folder/attachment9844a9a7221e2e5b971f972051629676e0d2.csv'
data = pd.read_csv(file)

In [4]:
data.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [5]:
data['airline_sentiment'].value_counts()

negative    9178
neutral     3099
positive    2363
Name: airline_sentiment, dtype: int64

In [6]:
data['airline'].value_counts()

United            3822
US Airways        2913
American          2759
Southwest         2420
Delta             2222
Virgin America     504
Name: airline, dtype: int64

In [8]:
data[data.airline == 'United']['airline_sentiment'].value_counts()

negative    2633
neutral      697
positive     492
Name: airline_sentiment, dtype: int64

In [9]:
import wordcloud

In [11]:
data['sentiment'] = data['airline_sentiment'].apply(
    lambda x: 0 if x == 'negative' else 1
)

In [13]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [27]:
def tweet_to_words(text):
    words = word_tokenize(text.lower())
    stops = set(stopwords.words('english'))
    good_words = [w for w in words if not w in stops]
    return " ".join(good_words)

In [29]:
tweet_to_words("an in the iwefwe tykjty")

'iwefwe tykjty'

In [30]:
from sklearn.model_selection import train_test_split

In [58]:
x_train, x_test, y_train, y_test = train_test_split(data['text'], data['airline_sentiment'], random_state = 0)

In [59]:
from sklearn.feature_extraction.text import CountVectorizer

In [60]:
v = CountVectorizer(max_features=1000, ngram_range=(1,2))
train_features  = v.fit_transform(x_train)
test_features = v.fit_transform(x_test)

In [61]:
from sklearn.naive_bayes import MultinomialNB

In [62]:
clf = MultinomialNB()
clf.fit(train_features, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [63]:
clf.score(test_features, y_test)

0.60136612021857927